nav .more_options .tooltip .profile_settings_container{
    position: absolute;
    top: 124%;
    left: -250px;
    background-color: #eee;
    color: black;
    z-index: 10;
    display: none;
    flex-direction: column;
    width: 450px;
    cursor: default;
    overflow: hidden;
    border-radius: 10px;
}

.profile_settings_container .button{
    padding: 10px 20px;
    margin: 20px;
    background-color: dodgerblue;
    border-radius: 20px;
    color: white;
    transition: all 0.7s;
}

.profile_settings_container .button:hover{
    background-color: orangered;
}

.profile_settings_container .all_notifications{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    gap: 0;
}

.profile_settings_container .all_notifications .notification{
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 10px;
    transition: all 0.7s;
}

.profile_settings_container .all_notifications .notification:hover{
    background-color: #cccccc;
}

.profile_settings_container .all_notifications .notification .profile_pic{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    align-self: flex-start;
    background: url(../images/avatar.jpg) no-repeat center/cover;
}

.profile_settings_container .all_notifications .notification .message_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.profile_settings_container .all_notifications .notification .message_container p{
    word-break: break-all;
    white-space: normal;
}

.profile_settings_container .all_notifications .notification .message_container .time{
    width: 100%;
    display: flex; 
    justify-content: space-between;
}

.profile_settings_container .all_notifications .notification .message_container .response{
    background-color: #bbb;
    padding: 10px 15px;
    max-width: 450px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 5px;
}

nav .more_options .tooltip .profile{
    width: 210px;
    left: -155px;
}

nav .more_options .tooltip .profile .profile_option{
    width: 100%;
    align-items: center;
    transition: background-color 0.7s;
}

nav .more_options .tooltip .profile .profile_option:hover{
    background-color: #ccc;
}

nav .more_options .tooltip .profile .profile_option i:hover{
    background-color: initial;
}

@media (prefers-color-scheme: dark){
    nav .more_options .tooltip .profile .profile_option:hover{
        background-color: #333333;
    }

    .profile_settings_container .all_notifications .notification .message_container .response{
        background-color: #3e3e3e;
    }

    nav .more_options .tooltip .profile_settings_container{
        background-color: #4A4A4A;
    }

    .profile_settings_container .all_notifications .notification:hover{
        background-color: #333333;
    }
}